<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
  
    <span class="navbar-text profile">
      Entrainenement Symfony 7
    </span>

    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="{{ url('home') }}">Home</a>
          </li>

      </ul>
    </div>
  </div>
</nav>