{% extends 'base.html.twig' %}

{% block title %}Ateliers{% endblock %}

{% block body %}
<main class="mt-5">
    <div class="container">
        <div class="row text-center mb-4">
            <h1>Ateliers</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for atelier in list_ateliers %}

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ atelier.title }}</h5>
                            <p class="card-text">{{ atelier.description }}</p>
                            <a href="{{ path('ateliers_show', {'id': atelier.id}) }}" class="btn btn-outline-primary">Voir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
